@media screen and (min-width: 769px) {
    body{
    background-color: var(--main);
    font-family: outfit;
    }
    .desktop-header{
        display: grid;
        grid-template-columns: auto minmax(0, 1fr);
        width: 100vw;
        top: 0px;
        position: fixed;
        background-color: var(--surface);
        z-index: 3;
        backdrop-filter: blur(10px);
        
    }

    .home{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30px;
    }

    .home img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    }

    #home{
    margin: 270px 30px 220px;
    }

    .homeText{
    text-align: center;
    width: 60%;
    align-self: center;
    }
    #logo{
        width: 50px;
        height: 50px;
    }

    #mypic{
        margin-bottom: 10px;
        box-shadow: 10px 10px 30px 5px #a66f6b80;
    }

    .nav{
        align-content: center;
        padding: 5px;
   }
    .nav-link{
        color: var(--mainText);
    }

    .nav-link:hover{
        border-radius: 30px;
        color: var(--mainText);
        font-weight: 500;
        background-color: #CFC8C480;
    }
    .mobile-header{
        display: none;
    }
    .first, .second, .third, .fourth{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    align-items: center;
    width: 100%;
    max-width: 850px;
    margin-inline: auto;
    gap: 60px;
    }
    .second div:first-child,
    .fourth div:first-child {
        grid-column: 2;
        grid-row: 1;
    }

    .second div:last-child,
    .fourth div:last-child {
        grid-column: 1;
        grid-row: 1;
    }

    .containers{
        margin-left: 20px;
        margin-right: 20px;
    }

    .mycard{
        flex: 1 1 0;
    }
    .qualifications{
    border: 2px solid var(--border);
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 0;
    background: var(--surface);
    margin-right: 250px;
    margin-left: 250px;
    margin-bottom: 100px;
    }


    .qualifications>div img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 60%;
    padding: 0px;
}


.projects>div{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0,1fr);
    height: 65vh;
    justify-content: center;
}

.projectsText{
    align-self: center;
    width: 50%;
}
.projectspics img{
    width: auto;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 65%;
    border: 2px solid #f3dfdc55;
    box-shadow: 10px 10px 10px #75686540;

}

.projectspics{
    position: relative;
    overflow: hidden;

}


.projectsTitles li:hover{
    padding-left: 10px;
    color: var(--accent);
    transition: all ease-in 0.3s;
}

.projectsTitles li::before{
    content: "→";
    opacity: 0;
    margin-right: 8px;
}

.projectsTitles li:hover::before{
    opacity: 1;

}

.projects:has(#auth li:hover) #authpic{
    opacity: 1;
    animation: fadeIn 0.5s;
}

.projects:has(#discoverMatch li:hover) #discoverMatchpic{
    opacity: 1;
    animation: fadeIn 0.5s;
}

.projects:has(#communityFeatures li:hover) #communityFeaturespic{
    opacity: 1;
    animation: fadeIn 0.5s;
}

.projects:has(#AdminPanel li:hover) #AdminPanelpic{
    opacity: 1;
    animation: fadeIn 0.5s;
}

#home,#experience, #qualifications{
    scroll-margin-top: 250px;
}
#aboutMe{
    scroll-margin-top: 100px;
}
#qualifications{
    scroll-margin-top: 300px;
}

#skills{
    scroll-margin-top: 150px;
}
#projects{
    scroll-margin-top: 130px;
}

.experience{
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 130px;
    margin-left: 130px;
}
}



@media screen and (max-width: 768px){
    .desktop-header{
        display: none;
    }

    body{
    background-color: var(--main);
    font-family: outfit;
    }

    .home{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 30px;
    }

    #home{
        margin: 200px 30px 220px;
    }

    .homepic{
        align-self: center;
    }

    .home img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    }

    .homeText{
    text-align: center;
    width: 100%;
    align-self: center;
    }
    .container-fluid{
        background-color: var(--surface);
        padding: 10px;
    }
    .navbar{
        padding: 0;
    }
    .navbar-toggler{
        padding: 4px;
    }
    #logo{
        width: 50px;
        height: 50px;
    }
    .nav-item:hover{
        font-weight: 500;
    }
    .first, .second, .third, .fourth{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 200px;
    gap: 30px;
    align-items: center;
    padding: 30px 0px;
}
.mycard{
    margin-right: 50px;
    margin-left: 50px;
}

.qualifications{
    border: 2px solid var(--border);
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 0;
    background: var(--surface);
    margin-right: 30px;
    margin-left: 30px;
}
.qualifications>div:nth-of-type(2) img{
    width: 70%;
    border-top-left-radius: 50%;
    padding: 0px;
    float: right;
}
.qualifications>div:nth-of-type(2){
    width: 100%;
    align-self: flex-end;

}

.projects>div{
    display: flex;
    flex-flow: column nowrap;
   
}

.projectspics img{
    width: 50%;
    position: absolute;
    opacity: 0;
    border: 2px solid #f3dfdc55;
    box-shadow: 5px 5px 10px #f3dfdc55;
}
.projectspics{
    position: relative;
    overflow: visible;

}
.projectspics img:first-child {
    position: relative;
}

.projectsText{
    margin-top: 10px;
    margin-left: 20px;
}
.projects:has(#auth #authrad:checked) #authpic{
    opacity: 1;
    animation: fadeIn 0.3s;
}
.projects:has(#discoverMatch #dmatchrad:checked) #discoverMatchpic{
    opacity: 1;
    animation: fadeIn 0.3s;
}

.projects:has(#communityFeatures #cfeaturesrad:checked) #communityFeaturespic{
    opacity: 1;
    animation: fadeIn 0.3s;
}
    
.projects:has(#AdminPanel #adpanelrad:checked) #AdminPanelpic{
    opacity: 1;
    animation: fadeIn 0.3s;
}



.projectsText{
    margin-top: 10px;
    margin-left: 20px;
}
.projects:has(#auth #authrad:checked) #auth li{
    padding-left: 10px;
    color: var(--accent);
    transition: all ease-in 0.3s;
}
.projects:has(#discoverMatch #dmatchrad:checked) #discoverMatch li{
    padding-left: 10px;
    color: var(--accent);
    transition: all ease-in 0.3s;
}

.projects:has(#communityFeatures #cfeaturesrad:checked) #communityFeatures li{
    padding-left: 10px;
    color: var(--accent);
    transition: all ease-in 0.3s;
}
    
.projects:has(#AdminPanel #adpanelrad:checked) #AdminPanel li{
    padding-left: 10px;
    color: var(--accent);
    transition: all ease-in 0.3s;
}

.projectsTitles input[type="radio"]:checked + label::before{
    content: "→";
    opacity: 1;
    margin-right: 8px;
}

.experience{
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    margin: 0 20px;
}

.ap{
    justify-self: center;
}

.projectspics img{
    left: 25%;
}

#home {
    scroll-margin-top: 200px;
}
#aboutMe{
    scroll-margin-top: 50px;
}

#experience,#reference{
    scroll-margin-top: 150px;
}
#qualifications{
    scroll-margin-top: 225px;
}

#skills, #projects{
    scroll-margin-top: 80px;
}



}


@media screen and (min-width: 769px) and (max-width: 1200px) {
    .qualifications{
        margin: 0 20px;
    }
    .projectspics img {
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    object-fit: contain;
}

#experience{
    scroll-margin-top: 200px;
}

.experience{
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    margin: 0 20px;
}

#qualifications{
    scroll-margin-top: 200px;
}

#reference{
    scroll-margin-top: 200px;
}

}









#home h3, #home h4, #mypic{
    animation: fadeSlide 3s;
}
#home p, .homeCTA, .cta{
    color: var(--secondaryText);
    animation: fadeSlide 3s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    
}

.bi{
    color: var(--cta);
}

.cta a{
    color: var(--main);
    text-decoration: none;
}

.cta{
    justify-self: center;
    background-color: var(--cta);
    padding: 5px 10px;
    width: fit-content;
    border-radius: 30px;
    margin-top: 4px;
}

.cta:hover{
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 6px 18px #C13B7250;
    filter: brightness(0.92);
}

#aboutMe{
    display: flex;
    flex-flow: column wrap;
    padding: 50px;
    text-align: left;
    margin-bottom: 40px;

}
.firstLetter {
  font-size: 50px;
  font-weight: bold;
  color: var(--accent);
}

#aboutMe h3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}
#aboutMe h5{
    color: var(--accent);
}




#aboutMe p{
    color: var(--secondaryText)

}





.first{
    margin-top: 50px;
}


.ap{
    width: 80%;
    height: auto;
    display: block;
    border-radius: 30px;
}

.ap:hover{
    transform: rotate(5deg) scale(1.04);
}

.mycard{
    background-color: var(--border);
    padding: 30px;
    border-radius: 30px;

}

.mycard:hover{
    transform: scale(1.03);
    box-shadow: 1px 1px 10px;
}





.qualifications:hover{
    box-shadow: 1px 1px 10px;
        transform: scale(1.03);
}
.qualifications > div:nth-child(1){
    padding: 20px;
    align-content: center;
}

.qualificationsSection{
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
}

.qualificationsSection > div p:nth-of-type(1){
    font-weight: 200;
    color: var(--accent)
}



.qualifications > div> h6, .qualifications h2{
    color: var(--accent);
}

.qualifications > div h6:nth-of-type(1){
    background-color: #CFC8C480;
    width: fit-content;
    border-radius: 20px;
    padding: 10px;
}

.qualifications>div>p{
    color: var(--secondaryText)
}

.skills{
    text-align: center;
}

.skillsContainer{
    display: flex;
    flex-flow: row wrap;
    font-size: 15px;
    color: var(--accent);
    margin: 0px 30px 150px 30px;
    gap: 30px;
    background-color: #f3dfdc70;
    border-radius: 30px;
    padding: 20px;
    backdrop-filter: blur(10px);
    width: 80%;
    justify-self: center;
}
.skillsContainer div{
    flex: 1 1 0;
    margin-top: 20px;
}

.softSkills div{
    border-right: 1px solid var(--accent);
    padding-right: 30px;
}
.technicalSkills>div, .softSkills>div{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
}

.technicalSkills>div div, .softSkills>div div{
    background-color: #fffdfc90;
    border: 1px solid #e7d5d1;
    color: #756865;
    border-radius: 30px;
    align-content: center;
    justify-items: center;
    padding: 10px 10px;
    max-width: fit-content;

}

.technicalSkills>div div:hover, .softSkills>div div:hover{
    transform: scale(1.09);
    font-weight: 500;
    background-color: #d8aaa540;
    border-color: #d8aaa5;
    color: #342a28;
}

.projects h3{
    text-align: center;
    margin-bottom: 40px;
}

.myheaders{
    margin-bottom: 20px;
    text-align: center;
}


.projects{
    margin-bottom: 100px;
}


.projectsTitles li{
    border-bottom: 1px solid var(--border);
}

#authpic{
    opacity: 1;
}

.projectspics img{
    pointer-events: none;
}

.liNumber{
    font-size: x-large;
    color: var(--accent);
}

#gradproj{
    color: var(--secondaryText);
}

.projectsTitles input[type="radio"] {
    display: none;
}

.reference{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 100px;
}

.refcontainer{
    background-color: var(--surface);
    padding: 30px 80px;
    margin: 5px;
    border-radius: 40px;
}

.refcontainer:hover{
    border: 1px solid #342a28;
}

.refcontainer .position, .refcontainer .organization{
    color: var(--secondaryText);
}

.refcontainer .links{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.refcontainer .links a{
    color: var(--accent);
    text-decoration: none;
}

.refCTA{
    background-color:#CFC8C480;
    padding: 10px;
    border-radius: 20px;
}

.refCTA:hover{
    font-weight: 600;
    background-color: #D9C2C2;
    transform: scale(1.03);
}

footer{
    background-color: var(--surface);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}