@media screen and (min-width: 769px) {
    body{
    background-color: var(--main);
    font-family: outfit;
    }
    .desktop-header{
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        width: 100vw;
        padding: 10px; 
        top: 0px;
        position: fixed;
        background-color: var(--main);


    }
    .navbar{
        border-radius: 30px;
        padding: 0;
        width: fit-content;
    }
    .nav{
        align-content: center;
        border-radius: 30px;   
        background-color: var(--surface);
        border-radius: 30px;
        justify-self: center;
        padding: 5px;
        border: 1px solid var(--mainText);

    }
    .nav-link{
        color: var(--mainText);
    }

    .nav-link:hover{
        border-radius: 30px;
        color: var(--mainText);
        font-weight: 500;
        background-color: #CFC8C480;
    }
    .mobile-header{
        display: none;
    }


}



@media screen and (max-width: 768px){
    .desktop-header{
        display: none;
    }
    #logo{
        width: 10px;
        height: 10px;
    }
    body{
    background-color: var(--main);
    font-family: outfit;
    }
    .container-fluid{
        background-color: var(--surface);
        padding: 10px;
    }
    .navbar{
        padding: 0;
    }
    .navbar-toggler{
        padding: 4px;
    }
    #logo{
        width: 10px;
        height: 10px;
    }
    .nav-item:hover{
        font-weight: 500;
    }

    
}

.home{
    margin: 300px 60px;
    justify-items: center;
    text-align: center;  

}
.home h3, h4{
    animation: fadeSlide 3s;
}
.home p{
    color: var(--secondaryText);
    animation: fadeSlide 3s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
